<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>catalo-gh</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vue-i18n@9.12.0/dist/vue-i18n.global.prod.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/dist/css/bulma-switch.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdn.jsdelivr.net/npm/vue3-carousel@0.3.3/dist/carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue3-carousel@0.3.3/dist/carousel.min.css">
</head>

<body class="has-navbar-fixed-top">
  <div id="app">
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-info" href="./">
          <span class="icon">
            <i class="fas fa-home fa-lg"></i>
          </span>
          &nbsp;
          <strong>{{catalog.name}}</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-gh">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-gh" class="navbar-menu">
        <div class="navbar-start">

          <div class="navbar-item has-dropdown is-hoverable" v-if="categories.length > 0">
            <a class="navbar-link">
              {{$t("categories")}}
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="./">
                {{$t("show-all")}}
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" v-for="category in categories" :href="'?cat=' + category">
                {{capitalize(category)}}
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">

          <div class="navbar-item has-dropdown is-hoverable" v-if="categories.length > 0">
            <a class="navbar-link">
              <span class="icon">
                <i class="fas fa-language fa-lg"></i>
              </span>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" @click="changeLocale('es')">
                Español
              </a>
              <a class="navbar-item" @click="changeLocale('en')">
                English
              </a>
            </div>
          </div>

          <div class="navbar-item">
            <div class="buttons">
              <div class="field">
                <input id="dark-theme" type="checkbox" name="dark-theme" class="switch" checked="checked"
                  @change="toggleTheme" v-model="userTheme" true-value="dark" false-value="light">
                <label for="dark-theme">{{$t("dark-mode")}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">
          {{catalog.name}}
        </h1>
        <p class="subtitle">
          {{catalog.description}}
        </p>
      </div>

      <div class="container is-max-desktop">
        <div v-for="product in products" class="my-6">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <span class="icon has-text-success">
                    <i class="fas fa-circle fa-lg"></i>
                  </span>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{product.name}}</p>
                  <p class="subtitle is-6">{{product.description ?? "&nbsp;"}}</p>
                </div>
              </div>

              <div class="content">
                <div class="field is-grouped is-grouped-multiline">

                  <div class="control" v-if="!!product.category">
                    <a class="tag is-primary is-medium"
                      :href="'?cat=' + product.category.toUpperCase()">{{product.category}}</a>
                  </div>

                  <div class="control" v-if="!!product.stock && product.stock > 0">
                    <div class="tags has-addons">
                      <span class="tag is-dark is-medium">
                        <span class="icon">
                          <i class="fas fa-warehouse"></i>
                        </span>
                      </span>
                      <span class="tag is-info is-medium">{{product.stock}}</span>
                    </div>
                  </div>

                  <div class="control" v-if="!!product.price && product.price > 0">
                    <div class="tags has-addons">
                      <span class="tag is-dark is-medium">
                        <span class="icon">
                          <i class="fas fa-dollar-sign"></i>
                        </span>
                      </span>
                      <span class="tag is-success is-medium">{{formatCurrency(product.price)}}</span>
                    </div>
                  </div>

                </div>

                <ul v-if="!!product.details">
                  <li v-for="(detail, name) in product.details" :key="name">
                    <strong>{{capitalize(name)}}</strong>: {{detail}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-image has-text-centered">
              <div v-if="!!product.images && product.images.length > 0">
                <carousel :product-to-show="1" :wrap-around="product.images.length > 1">
                  <slide v-for="image in product.images" :key="image">
                    <div class="carousel__item">
                      <img :src="parseImageURL(image)" :alt="product.name" :onerror="handleImageError" />
                    </div>
                  </slide>
                  <template #addons>
                    <navigation />
                  </template>
                </carousel>
              </div>
              <img v-else :src="parseImageURL()" :alt="product.name" :onerror="handleImageError" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>

<script>
  const { createApp, ref, computed } = Vue;
  const { createI18n } = VueI18n;

  // Read JSON file synchronously
  const readJSONFile = (filePath) => {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", filePath, false);
    xmlHttp.send();
    if (xmlHttp.status == 200) {
      return JSON.parse(xmlHttp.responseText);
    }
    else {
      console.log({ xmlhttpError: xmlHttp })
      return null;
    }
  }

  // Default image for not found
  const notFoundImage = "assets/404.gif";

  // Query parameters
  const queryParams = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });

  // Read catalog and i18n settings
  const catalogData = readJSONFile("catalog.json");
  const i18nSettings = readJSONFile("i18n.json");
  const i18n = createI18n(i18nSettings);

  // Currency formatter
  const currencyFormat = new Intl.NumberFormat(catalogData.currency.locale, {
    style: "currency",
    currency: catalogData.currency.code,
    minimumFractionDigits: catalogData.currency.decimals,
  });

  // |------------------|
  // | Vue App          |
  // |------------------|
  const app = createApp({
    components: {
      'carousel': VueCarousel.Carousel,
      'slide': VueCarousel.Slide,
      'navigation': VueCarousel.Navigation
    },
    setup() {
      // Data
      const themeMediaValue = window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light";
      const userTheme = ref(localStorage.getItem("current-theme") ?? themeMediaValue);
      const catalog = ref(catalogData);
      const currentCategory = ref(queryParams.cat ?? "");

      // Set page title
      document.title = catalog.value.name;

      // Computed properties
      const categories = computed(() => {
        var set = new Set(
          catalog
            .value
            .items
            .filter((item) => !item.hide && !!item.category)
            .map((item) => item.category.toUpperCase())
            .sort((a, b) => a.localeCompare(b))
        );

        return Array.from(set);
      })
      const products = computed(() => {
        const result =
          catalog
            .value
            .items
            .filter((item) => !item.hide && (currentCategory.value == "" || (!!item.category && item.category.toUpperCase() === currentCategory.value)))
            .sort((a, b) => !!a.category && a.category.localeCompare(b.category));

        return result;
      })

      // Methods
      const parseImageURL = (imageURL) => {
        if (!imageURL) {
          if (catalog.value.useNotFoundImage) {
            return notFoundImage;
          }
          else {
            return "#";
          }
        }
        if (imageURL.startsWith("http")) {
          return imageURL;
        }
        return `images/${imageURL}`;
      }
      const formatCurrency = (value) => {
        return currencyFormat.format(value);
      }
      const handleImageError = (e) => {
        if (catalog.value.useNotFoundImage) {
          e.target.src = notFoundImage;
        }
        else {
          e.target.style.display = "none";
        }
      }
      const toggleTheme = () => {
        document.documentElement.dataset.theme = userTheme.value;
        localStorage.setItem("current-theme", userTheme.value);
      }
      const capitalize = (text) => {
        return text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
      }
      const changeLocale = (locale) => {
        i18n.global.locale = locale;
      }

      // Initial actions
      toggleTheme();

      // Return data and methods
      return {
        catalog,
        userTheme,

        categories,
        products,

        capitalize,
        changeLocale,
        formatCurrency,
        handleImageError,
        parseImageURL,
        toggleTheme,
      }
    }
  })

  app.use(i18n);
  app.mount("#app");
</script>

<style>
  .card {
    border: 1px solid rgba(168, 168, 168, 0.3) !important;
  }

  .is-debug {
    background-color: red !important;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .carousel__item {
    min-height: 200px;
    width: 100%;
    background-color: var(--vc-clr-primary);
    color: var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
  }

  .carousel__slide {
    padding: 10px;
    background-color: transparent !important;
  }

  .carousel__prev,
  .carousel__next {
    box-sizing: content-box;
    border: 0.1em solid rgba(168, 168, 168, 0.5);
    background-color: rgba(227, 227, 227, 0.5) !important;
    border-radius: 50%;
  }

  .carousel__next--disabled,
  .carousel__prev--disabled {
    display: none;
  }
</style>

</html>