<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CataloGH</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vue-i18n@9.12.0/dist/vue-i18n.global.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/dist/css/bulma-switch.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://cdn.jsdelivr.net/npm/vue3-carousel@0.3.3/dist/carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue3-carousel@0.3.3/dist/carousel.min.css">
</head>

<body>
  <div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-info" href="/">
          <span class="icon">
            <i class="fas fa-home fa-lg"></i>
          </span>
          &nbsp;
          <strong>{{catalogo.nombre}}</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-gh">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-gh" class="navbar-menu">
        <div class="navbar-start">

          <div class="navbar-item has-dropdown is-hoverable" v-if="categorias.length > 0">
            <a class="navbar-link">
              {{$t("categorias")}}
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/">
                {{$t("ver-todos")}}
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" v-for="categoria in categorias" :href="'?categoria=' + categoria">
                {{inicialMayuscula(categoria)}}
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">

          <div class="navbar-item has-dropdown is-hoverable" v-if="categorias.length > 0">
            <a class="navbar-link">
              <span class="icon">
                <i class="fas fa-language fa-lg"></i>
              </span>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" @click="cambiarLocale('es')">
                Español
              </a>
              <a class="navbar-item" @click="cambiarLocale('en')">
                English
              </a>
            </div>
          </div>

          <div class="navbar-item">
            <div class="buttons">
              <div class="field">
                <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked"
                  @change="cambiarTema" v-model="esTemaOscuro">
                <label for="switchExample">{{$t("modo-oscuro")}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">
          {{catalogo.nombre}}
        </h1>
        <p class="subtitle">
          {{catalogo.descripcion}}
        </p>
      </div>

      <div class="container is-max-desktop">
        <div v-for="item in articulos" class="m-6">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <span class="icon has-text-success">
                    <i class="fas fa-circle fa-lg"></i>
                  </span>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{item.nombre}}</p>
                  <p class="subtitle is-6">{{item.descripcion ?? "&nbsp;"}}</p>
                </div>
              </div>

              <div class="content">
                <div class="field is-grouped is-grouped-multiline">

                  <div class="control" v-if="!!item.categoria">
                    <span v-if="!!item.categoria" class="tag is-primary is-medium">{{item.categoria}}</span>
                  </div>

                  <div class="control" v-if="!!item.stock && item.stock > 0">
                    <div class="tags has-addons">
                      <span class="tag is-dark is-medium">
                        <span class="icon">
                          <i class="fas fa-warehouse"></i>
                        </span>
                      </span>
                      <span class="tag is-info is-medium">{{item.stock}}</span>
                    </div>
                  </div>

                  <div class="control" v-if="!!item.precio && item.precio > 0">
                    <div class="tags has-addons">
                      <span class="tag is-dark is-medium">
                        <span class="icon">
                          <i class="fas fa-dollar-sign"></i>
                        </span>
                      </span>
                      <span class="tag is-success is-medium">{{formatearMoneda(item.precio)}}</span>
                    </div>
                  </div>

                </div>

                <ul v-if="!!item.detalles">
                  <li v-for="(detalle, nombre) in item.detalles" :key="nombre">
                    <strong>{{inicialMayuscula(nombre)}}</strong>: {{detalle}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-image has-text-centered">
              <div v-if="!!item.imagenes && item.imagenes.length > 0">
                <carousel :items-to-show="1" :wrap-around="true">
                  <slide v-for="imagen in item.imagenes" :key="imagen">
                    <div class="carousel__item">
                      <img :src="urlImagen(imagen)" :alt="item.nombre" :onerror="errorImagen" />
                    </div>
                  </slide>
                  <template #addons>
                    <navigation />
                  </template>
                </carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  });
</script>

<script>
  const { createApp, ref, computed } = Vue;
  const { createI18n } = VueI18n;

  // Leer archivo JSON de forma síncrona
  const leerArchivoJSON = (filePath) => {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", filePath, false);
    xmlhttp.send();
    if (xmlhttp.status == 200) {
      return JSON.parse(xmlhttp.responseText);
    }
    else {
      console.log({ xmlhttpError: xmlhttp })
      return null;
    }
  }

  // Dar formato de moneda
  const formatoMoneda = new Intl.NumberFormat("es-GT", {
    style: "currency",
    currency: "GTQ",
    minimumFractionDigits: 2
  });

  // Imagen por defecto
  const imagen404 = "assets/404.gif";

  // Parámetros de la URL
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  const categoriaParam = params.categoria;

  // Internacionalización
  const configuracionI18n = leerArchivoJSON("i18n.json");
  const i18n = createI18n(configuracionI18n);

  const app = createApp({
    components: {
      'carousel': VueCarousel.Carousel,
      'slide': VueCarousel.Slide,
      'navigation': VueCarousel.Navigation
    },
    setup() {
      const esTemaOscuro = ref(window.matchMedia('(prefers-color-scheme: dark)').matches);
      const catalogo = ref(leerArchivoJSON("catalogo.json"));
      const categoriaActual = ref(categoriaParam ?? "");
      document.title = catalogo.value.nombre;

      const categorias = computed(() => {
        var set = new Set(
          catalogo
            .value
            .items
            .filter((item) => !item.ocultar && !!item.categoria)
            .map((item) => item.categoria.toUpperCase())
            .sort((a, b) => a.localeCompare(b))
        );

        return Array.from(set);
      })

      const articulos = computed(() => {
        const result =
          catalogo
            .value
            .items
            .filter((item) => !item.ocultar && (categoriaActual.value == "" || (!!item.categoria && item.categoria.toUpperCase() === categoriaActual.value)))
            .sort((a, b) => !!a.categoria && a.categoria.localeCompare(b.categoria));

        return result;
      })

      const urlImagen = (imagen) => {
        if (!imagen) {
          if (catalogo.value.usarImagenPorDefecto)
            return imagen404;
          else
            return "#";
        }
        if (imagen.startsWith("http")) {
          return imagen;
        }
        return `imagenes/${imagen}`;
      }
      const formatearMoneda = (valor) => {
        return formatoMoneda.format(valor);
      }
      const errorImagen = (e) => {
        if (catalogo.value.usarImagenPorDefecto) {
          e.target.src = imagen404;
        }
        else {
          e.target.style.display = "none";
        }
      }
      const cambiarTema = () => {
        document.documentElement.dataset.theme = esTemaOscuro.value ? "dark" : "light";
      }
      const inicialMayuscula = (texto) => {
        return texto.charAt(0).toUpperCase() + texto.slice(1).toLowerCase();
      }
      const cambiarLocale = (locale) => {
        i18n.global.locale = locale;
      }

      return {
        catalogo,
        esTemaOscuro,

        articulos,
        categorias,

        cambiarLocale,
        cambiarTema,
        errorImagen,
        formatearMoneda,
        inicialMayuscula,
        urlImagen
      }
    }
  })

  app.use(i18n);
  app.mount("#app");
</script>

<style>
  .card {
    border: 1px solid rgba(168, 168, 168, 0.3) !important;
  }

  .is-debug {
    background-color: red !important;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .carousel__item {
    min-height: 200px;
    width: 100%;
    background-color: var(--vc-clr-primary);
    color: var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
  }

  .carousel__slide {
    padding: 10px;
    background-color: transparent !important;
  }

  .carousel__prev,
  .carousel__next {
    box-sizing: content-box;
    border: 0.1em solid rgba(168, 168, 168, 0.5);
    background-color: rgba(227, 227, 227, 0.5) !important;
    border-radius: 50%;
  }
</style>

</html>